<div class="card shadow-sm">
  <img src="{{ product.thumbnail}}" alt="{{ product.title }}" class="bd-placeholder-img card-img-top w100">
  <div class="card-body">
    <p class="card-text">{{ product.title }}</p>
    <p class="card-text">{{ product.price | currency:'BRL' }}</p>
    <p class="card-text">{{ product.quantitiy }}</p>
    <p class="card-text">{{ product.category }}</p>
    <div class="btn-group">
      <button class="btn btn-sm btn-primary">Comprar</button>
      <button class="btn btn-sm btn-outilne-primary">Detalhes</button>
    </div>
  </div>
</div>